<div class="flex justify-center">
  <div class="flex items-center justify-between h-[30px] !px-[15px] w-[1300px]">
    <div class="flex gap-[10px]">
      <div class="flex w-[80px] cursor-pointer">
        <img
          src="https://static.netshoes.com.br/vue-components/6.87.1/zattini/images/9caac9b8a9cbe181128c0ec2bd7babeb.svg"
          alt="img-netshoes"
          class="w-[100%]"
        />
      </div>
      <div class="flex w-[75px] cursor-pointer">
        <img
          src="https://static.netshoes.com.br/vue-components/6.87.1/zattini/images/7a1e4556f6c919d155e3c6adf1acf5d3.svg"
          alt="img-shoestock"
          class="w-[100%]"
        />
      </div>
    </div>

    <div class="flex gap-[10px]">
      <div class="flex items-center cursor-pointer">
        <div class="flex w-[24px] h-[14px]">
          <img
            src="https://static.netshoes.com.br/vue-components/6.87.1/zattini/images/b7bd5a13283ea6e0f3d91483b9cc45f5.svg"
            alt="img-accessibility"
            class="w-[100%] h-full"
          />
        </div>
        <span class="span-accessibility text-[11px] flex text-center text-[#838383] font-semibold"
          >Acessibilidade</span
        >
      </div>
      <div class="flex items-center cursor-pointer">
        <div class="flex w-[24px] h-[14px]">
          <img
            src="https://static.netshoes.com.br/vue-components/6.87.1/zattini/images/869fb4d74f4745097a97135406daf524.svg"
            alt="img-netshoes-card"
            class="w-[100%] h-full"
          />
        </div>
        <span class="span-netshoes-card text-[11px] flex text-center text-[#838383] font-semibold"
          >Cartão Netshoes</span
        >
      </div>
      <div class="flex items-center cursor-pointer">
        <div class="flex w-[24px] h-[14px]">
          <img
            src="https://static.netshoes.com.br/vue-components/6.87.1/zattini/images/a84047250de7cc084f2ce5fea5792c34.svg"
            alt="img-download-app"
            class="w-[100%] h-full"
          />
        </div>
        <span class="span-download-app text-[11px] flex text-center text-[#838383] font-semibold"
          >Baixe o app</span
        >
      </div>
      <div class="flex items-center cursor-pointer">
        <span class="span-help text-[11px] flex text-center text-[#838383] font-semibold"
          >Ajuda</span
        >
      </div>
    </div>
  </div>
</div>
