<div
  class="border-[1px] border-[#00000018] border-t-0 flex flex-col !px-[22px] !py-[21px] z-[5] w-[100%] absolute left-[0px] top-[41px]"
>
  <span class="text-[14px] leading-[16px] !mb-[20px]">* Campos obrigatórios. Legal-Entity</span>

  <div class="flex flex-col">
    <div class="flex !mb-[15px] h-[73px]">
      <div class="flex gap-[10px] w-full">
        <div class="flex flex-col w-full">
          <div class="text-[14px] flex w-full relative h-[100%]">
            <app-input-generic
              [handleFocus]="onInputFocus"
              [handleBlur]="onInputBlur"
              [handleInput]="onInput"
              [getInput]="getInputCompanyName"
              [whichIs]="'companyName'"
            ></app-input-generic>
            <span
              #spanCompanyNameRef
              class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
              >* Razão Social</span
            >
          </div>
          <span
            class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
            #spanErrorCompanyNameRequiredRef
            >O campo "Razão Social" é obrigatório</span
          >

          <span
            class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
            #spanErrorCompanyNameAtLeast3CharactersRef
            >O campo “Razão Social“ precisa ter pelo menos 3 caracteres.</span
          >
        </div>

        <div class="flex flex-col w-full">
          <div class="text-[14px] flex w-full relative">
            <app-input-generic
              [handleFocus]="onInputFocus"
              [handleBlur]="onInputBlur"
              [handleInput]="onInput"
              [getInput]="getInputTradeName"
              [whichIs]="'tradeName'"
            ></app-input-generic>
            <span
              #spanTradeNameRef
              class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
              >* Nome Fantasia</span
            >
          </div>
          <span
            class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
            #spanErrorTradeNameRequiredRef
            >O campo “Nome Fantasia“ é obrigatório</span
          >

          <span
            class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
            #spanErrorTradeNameAtLeast3CharactersRef
            >O campo “Nome Fantasia“ precisa ter pelo menos 3 caracteres.</span
          >
        </div>

        <div class="flex flex-col w-full">
          <div class="text-[14px] flex w-full relative">
            <app-input-generic
              [handleFocus]="onInputCnpjFocus"
              [handleBlur]="onInputCnpjBlur"
              [handleInput]="onInputCnpj"
              [whichIs]="''"
              [getInput]="getInputCnpj"
              (keydown)="onKeyDownInputCnpj($event)"
            ></app-input-generic>
            <span
              #spanCnpjRef
              class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
              >* CNPJ</span
            >
          </div>
          <span
            class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
            #spanErrorCnpjRequiredRef
            >O campo “CNPJ“ é obrigatório</span
          >

          <span
            class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
            #spanErrorCnpjAtLeast14CharactersRef
            >O campo “CNPJ“ precisa ter pelo menos 14 caracteres.</span
          >
        </div>
      </div>
    </div>

    <div class="flex justify-between gap-[10px] !mb-[15px] h-[73px]">
      <div class="flex flex-col">
        <div class="text-[14px] flex w-[231.67px] relative h-[100%]">
          <app-input-generic
            [handleFocus]="onInputMunicipalRegistrationFocus"
            [handleBlur]="onInputMunicipalRegistrationBlur"
            [handleInput]="onInputMunicipalRegistration"
            [whichIs]="''"
            [getInput]="getInputMunicipalRegistration"
            (keydown)="onKeyDownInputMunicipalRegistration($event)"
          ></app-input-generic>
          <span
            #spanMunicipalRegistrationRef
            class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
            >Inscrição Municipal</span
          >
        </div>
      </div>

      <div class="flex w-[473px]">
        <div class="flex flex-col w-full !mr-[10px]">
          <div class="text-[14px] flex w-full relative h-[100%]">
            <app-input-generic
              [handleFocus]="onInputStateRegistrationFocus"
              [handleBlur]="onInputStateRegistrationBlur"
              [handleInput]="onInputStateRegistration"
              [whichIs]="''"
              [getInput]="getInputStateRegistration"
              (keydown)="onKeyDownInputStateRegistration($event)"
            ></app-input-generic>
            <span
              #spanStateRegistrationRef
              class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
              >* Inscrição Estadual</span
            >
          </div>
          <span
            class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
            #spanErrorStateRegistrationRequiredRef
            >O campo “Inscrição Estadual“ é obrigatório</span
          >
        </div>

        <label
          class="flex items-start leading-[16px] text-[14px] w-[74px] select-none"
          for="checkbox"
        >
          <input
            class="!mt-[3px] !mr-[5px]"
            type="checkbox"
            id="checkbox"
            #inputCheckboxExempt
            (click)="onClickLabelCheckboxExempt(inputCheckboxExempt, spanStateRegistrationRef)"
          />
          Isento
        </label>
      </div>
    </div>

    <div class="flex justify-between gap-[10px] !mb-[15px] h-[73px]">
      <div class="flex flex-col w-full">
        <div class="text-[14px] flex w-full relative h-[100%]">
          <app-input-generic
            [handleFocus]="onInputCorporateCellPhoneNumberFocus"
            [handleBlur]="onInputCorporateCellPhoneNumberBlur"
            [handleInput]="onInputCorporateCellPhoneNumber"
            [whichIs]="''"
            [getInput]="getInputCorporateCellPhoneNumber"
            (keydown)="onKeyDownInputCorporateCellPhoneNumber($event)"
          ></app-input-generic>
          <span
            #spanCorporateCellPhoneNumberRef
            class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
            >* DDD e número de celular corporativo</span
          >
        </div>
        <span
          class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
          #spanErrorCorporateCellPhoneNumberRequiredRef
          >O campo “DDD e número de celular corporativo“ é obrigatório</span
        >
        <span
          class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
          #spanErrorCorporateCellPhoneNumberAtLeast11CharactersRef
          >O campo “DDD e número de celular corporativo“ precisa ter pelo menos 11 caracteres.</span
        >
      </div>

      <div class="flex flex-col w-full">
        <div class="text-[14px] flex w-full relative h-[100%]">
          <app-input-generic
            [handleFocus]="onInputDDDNumberCorporateLandlineFocus"
            [handleBlur]="onInputDDDNumberCorporateLandlineBlur"
            [handleInput]="onInputDDDNumberCorporateLandline"
            [whichIs]="''"
            [getInput]="getInputDDDNumberCorporateLandline"
            (keydown)="onKeyDownInputDDDNumberCorporateLandline($event)"
          ></app-input-generic>
          <span
            #spanDDDNumberCorporateLandlineRef
            class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
            >DDD e número de telefone fixo corporativo</span
          >
        </div>
      </div>
    </div>

    <div class="flex gap-[10px] !mb-[10px] h-[73px]">
      <div class="flex gap-[10px]">
        <div class="flex flex-col w-[171px]">
          <div class="text-[14px] flex w-full relative container-input-cep">
            <app-input-generic
              [handleFocus]="onInputCepFocus"
              [handleBlur]="onInputCepBlur"
              [handleInput]="onInputCep"
              [whichIs]="''"
              [getInput]="getInputCep"
              (keydown)="onKeyDownInputCep($event)"
            ></app-input-generic>
            <span
              #spanCepRef
              class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
              >* CEP</span
            >
          </div>
          <span
            class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
            data-testid="error-field-cep-required"
            #spanErrorCepRequiredRef
            >O campo “CEP“ é obrigatório</span
          >

          <span
            class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
            #spanErrorCepAtLeast9CharactersRef
            >O campo “CEP“ precisa ter pelo menos 9 caracteres.</span
          >
        </div>

        <div class="flex flex-col w-[171px] relative">
          <div class="select-wrapper" #selectWrapperTypeOfAddressSecond>
            <select
              class="custom-select"
              name="type-of-address"
              id="typeOfAddress"
              #selectTypeOfAddress
              [(ngModel)]="selectedTypeOfAddress"
              (change)="
                onInputSelectTypeOfAddressChange(
                  selectTypeOfAddress,
                  selectWrapperTypeOfAddressSecond,
                  spanTypeOfAddressRef,
                  ''
                )
              "
              (blur)="
                onInputSelectTypeOfAddressBlur(
                  selectTypeOfAddress,
                  selectWrapperTypeOfAddressSecond,
                  ''
                )
              "
            >
              <option value="">* Tipo de Endereço</option>
              <option *ngFor="let address of typeOfAddress" [value]="address.value">
                {{ address.name }}
              </option>
            </select>
            <span
              #spanTypeOfAddressRef
              class="hidden text-[12px] absolute left-[10px] top-[8px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
              data-testid="error-field-type-of-address-required"
              >* Tipo de Endereço</span
            >
          </div>
          <span
            class="hidden text-[12px] text-[#db001c] font-bold leading-[14px]"
            #spanErrorFieldTypeOfAddressRequired
            >O campo “Tipo de Endereço“ é obrigatório</span
          >
        </div>
      </div>

      <div class="flex flex-col w-full">
        <div class="text-[14px] flex w-full relative container-address">
          <app-input-generic
            [handleFocus]="onInputAddressFocus"
            [handleBlur]="onInputAddressBlur"
            [handleInput]="onInputAddress"
            [whichIs]="''"
            [getInput]="getInputAddress"
            (keydown)="onKeyDownInputAddress($event)"
          ></app-input-generic>
          <span
            #spanAddressRef
            class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
            >* Endereço</span
          >
        </div>
        <span
          class="hidden text-[11px] text-[#db001c] font-bold leading-[16px]"
          data-testid="error-field-address-required"
          #spanErrorAddressRequiredRef
          >O campo “Endereço“ é obrigatório</span
        >
      </div>
    </div>
    <span class="text-[14px] !mb-[10px] underline span-dont-know-my-cep">Não sei meu CEP</span>

    <div class="flex gap-[10px] !mb-[15px] h-[73px]">
      <div class="flex gap-[10px]">
        <div class="flex flex-col w-[160px]">
          <div class="text-[14px] flex w-full relative container-number">
            <app-input-generic
              [handleFocus]="onInputNumberFocus"
              [handleBlur]="onInputNumberBlur"
              [handleInput]="onInputNumber"
              [whichIs]="''"
              [getInput]="getInputNumber"
              (keydown)="onKeyDownInputNumber($event)"
            ></app-input-generic>
            <span
              #spanNumberRef
              class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
              >* Número</span
            >
          </div>
          <span
            class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
            data-testid="error-field-number-required"
            #spanErrorNumberRequiredRef
            >O campo “Número“ é obrigatório</span
          >
        </div>

        <div class="flex flex-col w-[160px]">
          <div class="text-[13px] flex w-full relative container-complement">
            <app-input-generic
              [handleFocus]="onInputComplementFocus"
              [handleBlur]="onInputComplementBlur"
              [handleInput]="onInputComplement"
              [whichIs]="''"
              [getInput]="getComplement"
              (keydown)="onKeyDownInputComplement($event)"
            ></app-input-generic>
            <span
              #spanComplementRef
              class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
              >Complemento (opcional)</span
            >
          </div>
        </div>
      </div>

      <div class="flex flex-col w-full">
        <div class="text-[14px] flex w-full relative container-neighborhood">
          <app-input-generic
            [handleFocus]="onInputNeighborhoodFocus"
            [handleBlur]="onInputNeighborhoodBlur"
            [handleInput]="onInputNeighborhood"
            [whichIs]="''"
            [getInput]="getInputNeighborhood"
            (keydown)="onKeyDownInputNeighborhood($event)"
          ></app-input-generic>
          <span
            #spanNeighborhoodRef
            class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
            >* Bairro</span
          >
        </div>
        <span
          class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
          data-testid="error-field-neighborhood-required"
          #spanErrorNeighborhoodRequiredRef
          >O campo “Bairro“ é obrigatório</span
        >
      </div>
    </div>

    <div class="flex gap-[10px] h-[73px]">
      <div class="flex flex-col w-[160px] relative container-state">
        <div class="select-wrapper" #selectWrapperStateSecond>
          <select
            class="custom-select"
            name="state"
            id="State"
            #selectState
            [(ngModel)]="selectedState"
            (change)="
              onInputSelectStateChange(selectState, selectWrapperStateSecond, spanStateRef, '')
            "
            (blur)="onInputSelectStateBlur(selectState, selectWrapperStateSecond, '')"
          >
            <option value="">* Estado</option>
            <option *ngFor="let state of states" [value]="state.value">
              {{ state.name }}
            </option>
          </select>
        </div>
        <span
          #spanStateRef
          class="hidden text-[12px] absolute left-[10px] top-[8px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
          >* Estado</span
        >
        <span
          class="hidden text-[11px] text-[#db001c] font-bold leading-[14px]"
          data-testid="error-field-state-required"
          #spanErrorFieldStateRequired
          >O campo “Estado“ é obrigatório</span
        >
      </div>

      <div class="flex flex-col w-[40%]">
        <div class="text-[14px] flex w-full relative h-[100%] container-city">
          <app-input-generic
            [handleFocus]="onInputCityFocus"
            [handleBlur]="onInputCityBlur"
            [handleInput]="onInputCity"
            [whichIs]="''"
            [getInput]="getInputCity"
            (keydown)="onKeyDownInputCity($event)"
          ></app-input-generic>
          <span
            #spanCityRef
            class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
            >* Cidade</span
          >
        </div>
        <span
          class="hidden text-[11px] text-[#db001c] font-bold leading-[13px]"
          data-testid="error-field-city-required"
          #spanErrorCityRequiredRef
          >O campo “Cidade“ é obrigatório</span
        >
      </div>

      <div class="flex-grow flex-col">
        <div class="text-[13px] flex w-full relative h-[100%] container-reference-point">
          <app-input-generic
            [handleFocus]="onInputReferencePointFocus"
            [handleBlur]="onInputReferencePointBlur"
            [handleInput]="onInputReferencePoint"
            [whichIs]="''"
            [getInput]="getInputReferencePoint"
            (keydown)="onKeyDownInputReferencePoint($event)"
          ></app-input-generic>
          <span
            #spanReferencePointRef
            class="span-enter-your-email absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
            >Ponto de Referência (opcional)</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
