<div class="container-method-payment flex items-center leading-[16px] !mb-[50px]">
  <span class="span-need-help text-[#8c8c8c] underline text-[14px] !mr-[50px]"
    >Precisa de Ajuda?</span
  >
  <div class="flex items-center">
    <div class="flex items-center gap-[10px] !mr-[20px]">
      <i class="icon-method icon-n-card"></i>
      <i class="icon-method icon-visa"></i>
      <i class="icon-method icon-master-card"></i>
      <i class="icon-method icon-american-express"></i>
      <i class="icon-method icon-seila"></i>
      <i class="icon-method icon-hyper-card"></i>
      <i class="icon-method icon-elo"></i>
      <i class="icon-method icon-seila-2"></i>
    </div>
    <span
      class="span-split-your-purchases text-[10px] text-[#4D4D4D] font-medium leading-[12px] w-[105px]"
      >Divida suas compras em 2 cartões e pague em até 10x sem juros</span
    >
  </div>
</div>
