<app-header-main></app-header-main>
<div class="flex flex-col items-center">
  <div class="flex gap-[100px] !my-[42px]">
    <app-already-client></app-already-client>
    <div class="container-border-between"></div>
    <app-create-account></app-create-account>
  </div>
  <app-social-auth-buttons></app-social-auth-buttons>

  <app-method-payment></app-method-payment>

  <span class="span-copyright flex text-[12px] text-[#8C8C8C] leading-[16px] text-center w-[1270px]"
    >Copyright © 2000 - 2025 www.zattini.com.br, TODOS OS DIREITOS RESERVADOS. Todo o conteúdo do
    site, todas as fotos, imagens, logotipos, marcas, dizeres, som, software, conjunto imagem,
    layout, trade dress, aqui veiculados são de propriedade exclusiva da NS2.COM Internet S.A. ou de
    seus parceiros. É vedada qualquer reprodução, total ou parcial, de qualquer elemento de
    identidade, sem expressa autorização. A violação de qualquer direito mencionado implicará na
    responsabilização cível e criminal nos termos da Lei. NS2.Com Internet S/A - CNPJ:
    09.339.936/0001-16 - R MARIA PRESTES MAIA nº 300 - 2º Andar CEP: 02047-901 - CARANDIRU - SAO
    PAULO - SP - A inclusão no carrinho não garante o preço e/ou a disponibilidade do produto. Caso
    os produtos apresentem divergências de valores, o preço válido é o exibido na tela de pagamento.
    Vendas sujeitas a análise e disponibilidade de estoque. Fale conosco:
    https://atendimento.zattini.com.br</span
  >
</div>
