<div class="flex flex-col w-[364px]" (click)="onClickContainerAlreadyClient()">
  <h1 class="text-[18px] font-semibold !mb-[10px] header-already-client">Já sou cliente</h1>

  <div
    class="flex leading-[16px] bg-[#fff9fa] text-[#222] !mb-[20px] text-[14px] border border-[rgba(255,66,79,.2)] !py-[12px] !px-[15px]"
    *ngIf="errorLogin"
  >
    <app-x-svg></app-x-svg>
    <span>Sua conta e/ou senha estão incorretas, tente novamente</span>
  </div>

  <div class="flex flex-col gap-[10px] !mb-[18px]">
    <div class="flex flex-col">
      <div class="text-[14px] flex w-full relative">
        <input
          type="text"
          placeholder=""
          class="input-email-cpf-cnpj w-full outline-none !px-[10px] !py-[18px] border-[1px] border-[#00000018] rounded-sm"
          #inputEmailCpfCnpj
          (focus)="onInputEmailFocus(spanEmailCpfCnpj, inputEmailCpfCnpj, spanErrorEmailCpfCnpj)"
          (blur)="onInputEmailBlur(spanEmailCpfCnpj, inputEmailCpfCnpj, spanErrorEmailCpfCnpj)"
          (input)="onInputEmail(inputEmailCpfCnpj, spanErrorEmailCpfCnpj, spanEmailCpfCnpj)"
          (keydown)="onKeyDownInputEmail($event)"
        />
        <span
          class="span-email-cpf-cnpj absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
          #spanEmailCpfCnpj
          >E-mail, CPF ou CNPJ</span
        >
      </div>
      <span
        class="hidden text-[11px] text-[#db001c] font-bold leading-[16px]"
        #spanErrorEmailCpfCnpj
        >O campo “E-mail, CPF ou CNPJ“ é obrigatório</span
      >
    </div>

    <div class="flex flex-col">
      <div class="text-[14px] flex w-full relative">
        <input
          type="password"
          placeholder=""
          #inputPassword
          (focus)="onInputPasswordFocus(spanPassword, inputPassword, spanFieldPasswordRequired)"
          (blur)="onInputPasswordBlur(spanPassword, inputPassword, spanFieldPasswordRequired)"
          (input)="
            onInputPassword(
              inputPassword,
              spanPassword,
              spanFieldPasswordRequired,
              spanFieldPasswordRequired3Caracteres
            )
          "
          class="input-password text-[12px] w-full outline-none !px-[10px] !py-[18px] border-[1px] border-[#00000018] rounded-sm"
        />
        <span
          class="span-password absolute left-[10px] top-[20px] leading-[16px] pointer-events-none transition-all duration-300 bg-[#ffffff]"
          #spanPassword
          >Senha</span
        >
        <div
          class="container-eye-open"
          #containerEyeOpen
          (click)="onClickEyeOpen(inputPassword, containerEyeOpen, containerEyeClose)"
        ></div>
        <div
          class="container-eye-close"
          #containerEyeClose
          (click)="onClickEyeClose(inputPassword, containerEyeOpen, containerEyeClose)"
        ></div>
      </div>

      <span
        class="hidden text-[11px] text-[#db001c] font-bold leading-[16px]"
        #spanFieldPasswordRequired
        >O campo “Senha“ é obrigatório</span
      >

      <span
        class="hidden text-[11px] text-[#db001c] font-bold leading-[16px]"
        #spanFieldPasswordRequired3Caracteres
        >O campo “Senha“ precisa ter pelo menos 3 caracteres.</span
      >
    </div>
  </div>
  <span
    class="span-forgot-my-passowrd text-[14px] text-[#707070] underline cursor-pointer !mb-[38px]"
    >Esqueci minha senha</span
  >

  <button
    class="button-access-account text-[16px] font-semibold !px-[2px] !py-[14px] bg-[#f4546a] text-[#fff] cursor-pointer uppercase"
    (click)="
      onClickLogin(
        inputEmailCpfCnpj,
        spanEmailCpfCnpj,
        spanErrorEmailCpfCnpj,
        inputPassword,
        spanPassword,
        spanFieldPasswordRequired
      )
    "
  >
    Acessar conta
  </button>

  <div
    class="fixed left-[0px] top-[0px] flex items-center justify-center w-full h-full bg-[#0000006b] z-[20]"
    *ngIf="isLoadingLogin"
  >
    <span class="loader"></span>
  </div>
</div>
