<div class="flex items-center flex-col !mb-[120px]">
  <span class="text-[14px] font-normal !mb-[16px] span-access-your-account"
    >Acesse sua conta Zattini através de suas redes sociais.</span
  >
  <div class="flex gap-[20px]">
    <div
      class="flex items-center justify-center rounded-sm !py-[5px] w-[262px] bg-[#465898] text-[#fff] text-[14px] font-bold cursor-pointer"
    >
      <i class="icon-facebook"></i>
      <span class="span-connect-with-facebook">Conectar com Facebook</span>
    </div>
    <div
      class="container-sign-with-google flex items-center justify-around rounded-sm !py-[5px] w-[262px] bg-[#fff] text-[16px] text-[#3C4043] font-medium cursor-pointer border-[1px] border-[#00000018]"
    >
      <app-google-svg></app-google-svg>
      <span class="w-[65%]">Sign in with Google</span>
    </div>
    <div
      class="flex items-center justify-center rounded-sm !py-[5px] w-[262px] bg-[#0086ff] text-[#fff] text-[14px] font-bold cursor-pointer"
    >
      <i class="icon-magalu"></i>
      <span class="login-with-magalu">Entrar com ID Magalu</span>
    </div>
  </div>
</div>
